@import url("https://fonts.googleapis.com/css?family=Raleway");

.app {
  background: #241414;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
}
#title {
  color: #7af5b8;
  padding: 10px;
  font-weight: 900;
}
/* Add btn code start*/
:root {
  --glow-color: hsl(186 100% 69%);
}
.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: 900;
  letter-spacing: 0.5rem;
  margin-bottom: 40px;
  margin-top: 20px;
  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}
.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}
.glowing-btn::before {
  content: "";
  position: absolute;top: 0;bottom: 0;left: 0;right: 0;opacity: 0.7;filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;left: 0; right: 0; bottom: 0;opacity: 0;z-index: -1;background-color: var(--glow-color);box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}
.glowing-btn:hover .glowing-txt {
  animation: none;
}
.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}
.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}
@keyframes faulty-flicker {
  0% { opacity: 0.1;}
  2% { opacity: 0.1;}
  4% { opacity: 0.5;}
  19% {opacity: 0.5;}
  21% {opacity: 0.1;}
  23% {opacity: 1;}
  80% {opacity: 0.5;}
  83% {opacity: 0.4;}
  87% {opacity: 1; }
}
@keyframes text-flicker {
  0% {opacity: 0.1;}
  2% {opacity: 1;}
  8% {opacity: 0.1;}
  9% {opacity: 1;}
  12% {opacity: 0.1;}
  20% {opacity: 1;}
  25% {opacity: 0.3;}
  30% {opacity: 1;}
  70% {opacity: 0.7;}
  72% {opacity: 0.2;}
  77% {opacity: 0.9;}
  100% {opacity: 0.9;}
}
@keyframes border-flicker {
  0% {opacity: 0.1;}
  2% {opacity: 1;}
  4% { opacity: 0.1;}
  8% {opacity: 1;}
  70% {opacity: 0.7;}
  100% { opacity: 1; }
}
/* add btn code end */
.modal-content {
  background-color: rgb(1, 1, 1) !important;
}
.modal-title.h4 {
  color: #7af5b8;
}
svg:not(:root).svg-inline--fa, svg:not(:host).svg-inline--fa {
  overflow: visible;
  box-sizing: content-box;
}
button.btn-close {
  background-color: white;
}
button.btn-close:hover{
  background-color: red!important;
}
::placeholder{
  color: rgb(114, 118, 121);
}
.modal.show .modal-dialog {
  margin-top: 132px;
}
#btn {
  background: none;
  border: none; 
  outline: none;
  padding: 15px;
  font-size: 1.8rem;
  color: #7af5b8;
  transition: all 0.3s ease;
  cursor: pointer;
}

#btn:hover {
  text-shadow: 0 0 5px #7af5b8;
}

#input {
  width: 80%;
  background: none;
  border:none; 
  outline: none;
  padding: 10px 15px;
  min-width: 50%;
  color: #7af5b8;
  transition: all 0.5s ease;
}
#inputSer{
  width: 150px;
  background: none;
  border:none; 
  outline: none;
  min-width: 50%;
  font-size: 1.4rem;
  color: #7af5b8;
  transition: all 0.5s ease;
}

#input:hover {
  box-shadow: 0 0 5px #7af5b8;   
}
#inputSer:hover {
  box-shadow: 0 0 5px #7af5b8;   
}
.editinput{
  background: none;
  border:none; 
  outline: none;
  padding: 10px 15px;
  min-width: 50%;
  font-size: 1.4rem;
  color: #7af5b8;
}
.editsave{
  background-color: #7af5b8;
  color:black;
  border-radius: 8px;
}
.editsave:hover{
  background-color:red;
  color: #7af5b8;
}

#filter {
  width: 60%;
  background: none;
  display: flex;
  justify-content: space-between;
}
.filt{
  margin-top: 30px;
  margin-bottom: 70px;
}

.filter {
  width: 50%;
  text-decoration: none;
  color: #7af5b8;
  align-items: center;
  font-weight: 300;
  cursor: pointer;
}

.filter:hover {
  transition: all 0.3s ease;
  padding: 0px;
  font-size: x-large ;
  text-decoration: none;
}
#filter1 {
  width: 34%;
  background: none;
  display: flex;
  justify-content: space-between;
  transition: all 0.5s ease;
}
.filt1{
  margin-top: 50px;
  margin-bottom: 30px;
}
.filter1 {
  text-decoration: none;
  color: #7af5b8;
  align-items: center;
  font-weight: 300;
  cursor: pointer;
}
.filter1:hover {
  transition: all 0.3s ease;
  padding: 0px;
  color: red;
}
#list {
  width: 80%;
  height: 50px;
  list-style: none;
}

.todo {
  width: 80%;
  margin: 20px auto;
  background-color: #282828;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  color: #7af5b8;
  transition: all 0.5s ease;
  align-items: center;
  font-weight: 300;
}

.todo span{
  text-align: left;
  padding-left: 20px;
  width: 100%;
}

.todo:hover {
  box-shadow: 0px 0px 5px #7af5b8;
}
.check, .trash, .edit{
  cursor: pointer;
  background: none;
  border: none;
  outline: none;
  font-size: 1.6rem;
  color: #7bcfa5;
  text-shadow: 0px 0px 30px #7af5b8;
  transition: all 0.5s ease;
}
.trash:hover,.edit :hover {
  color: red;
}

.footer{
  margin-top: 20px;
}
.footer a {
 font-size: 50px;
 color: white;
 
}
.footer a i{
  padding: 20px;
  margin-bottom: 30px;
}

.footer a:hover{
  color: #7af5b8;
}


/* for mobile screen */

@media only screen and (max-width: 600px) {
  #filter{
    width: 100%; 
  }
  .filter{
    font-size: 12px;
    margin-right: 40px;
  }
  .filter:hover{
    font-size: 12px;
  }
  #inputSer{
    width: 60px;
    font-size: 0.8rem;
    margin-left: 15px;
  }
  #filter1 {
    width: 60%;
  }
}
